@font-face {
    font-family: 'Cy Grotesk';
    src: url('assets/kobuzan-cy-grotesk-grand-dark.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Accia Flare';
    src: url('assets/Mint\ Type\ -\ AcciaFlare-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Accia Flare";
    overflow-x: hidden;
}

.accia {
    font-family: "Accia Flare";
    font-weight: 300;
}

.grotesk {
    font-family: 'Cy Grotesk';
    font-weight: 900;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #560000;
    border-bottom: solid #760A0A 2px;
}

.nav {
    padding: 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 32px;
}

.nav-left a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    position: relative;
}

.nav-left a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1px;
    background: #fff;
    transition: .25s;
}

.nav-left a:hover::after {
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.brand-text {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: .03em;
}

.logo {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.hero {
    position: relative;
    height: 966px;
    background: url("assets/stage.jpg") center / cover no-repeat;
    overflow: hidden;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, .2), rgba(0, 0, 0, .7));
    z-index: 1;
}

.spotlight {
    position: absolute;
    width: 50vw;
    height: 966px;
    z-index: 2;
    overflow-x: visible;
}

.spotlight.left {
    left: 0%;
    animation-delay: 2s;
}

.spotlight.right {
    right: 0%;
}
.hero-content {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 76px;
    font-weight: 900;
    letter-spacing: .08em;
}

.hero-content p {
    margin-top: 20px;
    font-size: 22px;
    opacity: .9;
}

.hero-content button {
    margin-top: 48px;
    padding: 16px 48px;
    font-size: 18px;
    border-radius: 14px;
    border: none;
    background: #fff;
    cursor: pointer;
    transition: ease 0.3s;
}
.hero-content button:hover {
    background-color: #ffe2a6;
}

.section2 {
    position: relative;
    height: 1098px;
    overflow: hidden;
    background-color: #6d0f0f;
}

.section2::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("assets/grunge.png");
    background-repeat: repeat;
    background-size: auto;
    opacity: 1;
    pointer-events: none;
    z-index: 0;
}

.scene>.section2,
.section2-content {
    position: relative;
    z-index: 2;
}


.back-curtain {
    position: absolute;
    inset: 0;
    background: url("assets/red-curtain.jpg") center / cover no-repeat;
    z-index: 1;
}

.floor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 469px;
    background-color: #2e0606;
    background-image: url("assets/wood-floor.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-blend-mode: multiply;

    z-index: 2;
}

.floor img {
    height: 302px;
}

.top-light {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.title-perspective {
    position: absolute;
    bottom: 34%;
    left: 50%;
    transform: translateX(-50%) rotateX(35deg);
    font-size: clamp(70px, 9vw, 150px);
    font-weight: 900;
    letter-spacing: .08em;
    color: rgba(255, 255, 255, 0.9);
    z-index: 4;
    text-shadow: 0 20px 40px rgba(0, 0, 0, .6);
}

.section2-content {
    position: absolute;
    bottom: 38%;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 4;
}

.section2-content h2 {
    font-size: clamp(48px, 6vw, 96px);
    font-weight: 900;
    letter-spacing: 0.08em;
    margin-bottom: 28px;
}

.section2-content p {
    font-size: clamp(18px, 2.2vw, 28px);
    font-style: italic;
    line-height: 1.65;
    opacity: 0.95;
}

.section3 {
    position: relative;
    height: 1033px;
    overflow: hidden;
}

.curtains {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: 3;
}

.curtain {
    width: 50%;
    background: repeating-linear-gradient(90deg,
            #9b0000,
            #9b0000 24px,
            #7a0000 24px,
            #7a0000 48px);
    transition: transform 1.3s cubic-bezier(.77, 0, .18, 1);
}

.game-intro,
.game-content,
.task {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.curtain.left {
    transition: transform 0.5s ease, opacity 0.1s linear;
}

.curtain.right {
    transition: transform 0.5s ease, opacity 0.1s linear;
}

.section3.open .curtain.left {
    transform: translateX(-100%);
}

.section3.open .curtain.right {
    transform: translateX(100%);
}

.game-intro {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .6s ease, transform .6s ease;
}

.game-intro h2 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 32px;
}

.game-intro button {
    padding: 16px 48px;
    border-radius: 14px;
    border: none;
    width: 301px;
    background: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: background .3s, transform .3s;
}

.game-content .pick-card {
    background-color: #560000;
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 39px;
    color: #fff;
    transition: ease 0.6s;
}

.pick-card:hover {
    background: #ffe2a6;
}

.game-intro button:hover {
    background: #ffe2a6;
    transform: translateY(-3px);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.game-content {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

.game-content.show {
    opacity: 1;
    pointer-events: auto;
}

.cards {
    display: flex;
    position: absolute;
    bottom: 0;
}

#card {
    width: 354px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.task.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

#card {
    position: absolute;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    width: 354px;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#card.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-500px);
}

.cards.lowered {
    bottom: -20px;
    transition: bottom 0.3s ease;
}

#token {
    width: 64px;
    height: 64px;

}

.token {
    width: 246px;
    display: flex;
    justify-content: space-between;
}

.token .grotesk {
    font-size: 28px;
}
.task-footer {
    display: flex;
    font-size: 32px;
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.task {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background: #fff;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-header {
    margin-top: 40px;
    display: flex;
    gap: 60px;
    font-size: 18px;
    justify-content: space-between;
}

.task-header .done,
.task-header .fail {
    background-color: #560000;
    color: #fff;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: ease 0.6s;
}

.task-header .counter {
    background-color: transparent;
    color: #000;
    font-size: 39px;
    font-weight: 500;
}

.task-card {
    margin-top: 60px;
    width: 280px;
}

.end-screen {
    position: absolute;
    inset: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    gap: 75px;
}

.end-screen div {
    display: none;
}

.end-screen div h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.end-screen div p {
    font-size: 24px;
    margin-bottom: 40px;
}

.support-btn {
    background-color: #560000;
    color: #fff;
    border: none;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.support-btn:hover {
    background-color: #760A0A;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 1021px;
    background-color: #560000;
}

.main-section {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.main-title {
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(20px, 5vw, 28px);
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.film-strip-container {
    background-color: #1a0505;
    width: 100%;
    padding: 20px 10px;
    height: 736px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.holes-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    min-width: 30px;
}

.hole {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.white-paper-area {
    background-color: white;
    flex-grow: 1;
    margin: 30px 15px;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 636px;
}

.accordion-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accordion-header {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    padding: 18px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    transform: translateY(0);
}

.header-title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
}

.header-icon {
    font-size: 32px;
    line-height: 1;
}

.accordion-body {
    display: none;
    opacity: 0;
    transform: translateY(10px);
}

.accordion-item.active .accordion-header {
    display: none;
}

.accordion-item.active .accordion-body {
    display: block;
    animation: fadeInSlide 0.5s forwards;
}

@keyframes fadeInSlide {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feedback-card {
    background-color: #560000;
    border-radius: 12px;
    padding: 30px;
    height: 396px;
    color: white;
}

.feedback-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.feedback-header h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
}

.minimize-icon {
    width: 24px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
textarea {
    width: 100%;
    background: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 12px 15px;
    color: white;
    outline: none;
    box-sizing: border-box;
    font-size: 20px;
}

input[type="text"] {
    width: 341px;
    height: 57px;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #fff;
    font-size: 20px;
}

textarea {
    height: 121px;
    resize: none;
}

.grid-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    height: 54px;
}

.submit-btn {
    background-color: white;
    color: black;
    border: none;
    width: 194px;
    padding: 12px 30px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #fbd580;
}

@media (max-width: 650px) {
    .grid-inputs {
        grid-template-columns: 1fr;
    }

    .white-paper-area {
        padding: 20px;
    }
}

.support-section {
    background-color: #ffffff;
    padding: 100px 20px;
    display: flex;
    height: 810px;
    justify-content: center;
    align-items: center;
}

.support-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.support-title {
    font-size: 39px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #000;
}

.support-description {
    font-size: 22px;
    color: #000;
    max-width: 250px;
    line-height: 1.3;
}

.ticket-container {
    position: relative;
    width: 671px;
    height: 354px;
    cursor: pointer;
}

.ticket-card {
    position: absolute;
    width: 671px;
}

.front-ticket {
    z-index: 2;
    background-image: url('assets/ticket.png');
    height: 354px;
    display: flex;
}

.back-ticket::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("assets/ticket.png");
    background-repeat: repeat;
    background-size: auto;
    opacity: 1;
    pointer-events: none;
    z-index: 1;
}

.ticket-container:hover .back-ticket {
    transform: translate(40px, 40px) rotate(8deg);
}

.ticket-edge {
    width: 60px;
    margin: 38px;
    height: 254px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    font-size: 36px;
    font-weight: 600;
    color: #520606;
    letter-spacing: 4px;
}

.ticket-edge.left {
    border-right: 4px solid #520606;
}

.ticket-edge.right {
    border-left: 4px solid #520606;
}

.ticket-main {
    flex-grow: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.ticket-label {
    font-size: 49px;
    color: #520606;
}

.ticket-name {
    font-size: 49px;
    color: #520606;
    margin-bottom: 20px;
}

.ticket-btn {
    background-color: #520606;
    color: #fff;
    border: none;
    padding: 12px 40px;
    font-size: 31px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.ticket-btn:hover {
    background-color: #7a0909;
}

.site-footer {
    background-color: #520606;
    color: #ffffff;
    padding: 60px 20px;
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.footer-tagline {
    font-size: 18px;
    margin: 5px 0 30px 0;
    opacity: 0.9;
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.footer-socials img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: transform 0.3s;
}

.footer-socials img {
    filter: brightness(0) invert(1);
}

.footer-socials a:hover img {
    transform: translateY(-5px);
}

@media (max-width: 960px) {
    .support-container {
        flex-direction: column;
        text-align: center;
    }

    .support-description {
        max-width: 100%;
    }

    .ticket-container {
        width: 100%;
        max-width: 460px;
        height: 240px;
    }
}

@keyframes lightMove {

    0%,
    100% {
        opacity: .7;
    }

    50% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 16px 24px;
    }
}